.v-nav-header {
  z-index: 9;
  height: 60px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: $neutral-color-hight-pure;
  position: fixed;
  width: 100%;

  &__burguer-icon {
    @media (min-width: 768px) {
      padding-left: 13.13rem;
    }
    transition: 0.1s;

    &--closed {
      padding-left: 46px;
    }
    .mdi {
      color: $neutral-color-low-medium;
    }
  }

  &__round-icon {
    width: 1.5rem;
    height: 1.5rem;
    background-color: $neutral-color-low-medium;
    border-radius: 50%;
    transition: 0.1s;

    &:hover {
      background-color: lighten($neutral-color-low-medium, 10%);
    }

    .mdi {
      color: $neutral-color-hight-pure;
      font-size: 1rem;

      &:hover {
        background-color: lighten($neutral-color-low-medium, 10%);
      }
    }
  }

  &__icon {
    font-size: 1.5rem;
    color: $neutral-color-low-medium;
    transition: all 0.3s ease;
    background-color: transparent;
    border: none;

    &:hover {
      color: lighten($neutral-color-low-medium, 10%);
    }
  }

  .v-input-text {
    &__input,
    &__icon {
      border-color: $border-color-default;
      border-width: 2px;
    }
  }

  .button-apps {
    border-radius: 50px;
    position: relative;
    transition: all 0.3s;
    padding: 0.5rem;

    .mdi-apps {
      font-size: 1.2rem;
      color: $neutral-color-low-medium;
      cursor: pointer;
    }
    &:hover,
    &.isActive {
      background: $bg-color-disabled;
    }

    .box-applications {
      transition: all 0.3s;
      background: $neutral-color-hight-pure;
      padding: 20px;
      position: absolute;
      right: 0px;
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.08);
      border-radius: 3px;
      top: 100%;

      ul {
        display: flex;
        align-items: center;
        gap: 10px;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        width: 80px;
        height: 80px;
        padding: 18.7px 8.5px;
        border-radius: 8px;
        border: solid 1px $neutral-color-hight-dark;
        background-color: $neutral-color-hight-pure;
        font-size: 8px;
        letter-spacing: 1.28px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        transition: all 0.2s;
        cursor: pointer;

        a {
          display: flex;
          text-decoration: none;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          align-items: center;
        }

        &:hover {
          background: $neutral-color-hight-light;
          transition: all 0.2s;
        }
      }
      img {
        width: 1.5rem;
      }
    }
  }
}

.menuSandwich {
  cursor: pointer;
}
