$light-green-color: #e6f1f2 !default;
$text-color-light: #6e6e6e;
$text-color-dark: #252525;
$text-color-nonfocus: #a1a1a4 !default;
$text-color-red: #b13323;

$text-color: var(--el-text-color);

$bg-color-gray: #e9e9e9;
$bg-color-disabled: $neutral-color-hight-light;
$bg-color-green: #d9ffee;

$border-color-dark: #848484;
$border-color-medium: #969696;
$border-color-default: #e9e9e9;
$border-color-gray-light: #efefef;

$brand-color-primary-pure: #00747a;
$brand-color-primary-light: #e6f1f2;
$brand-color-primary-medium: #004649;
$brand-color-primary-dark: #002f31;

$brand-color-font-light: #a1a1a4;

$brand-color-secondary-pure: #344068;
$brand-color-secondary-light: #3f4f85;
