$font-size-xxxs: 12px;
$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-sm: 21px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 40px;
$font-size-xxl: 48px;
$font-size-xxxl: 64px;
$font-size-display: 80px;
$font-size-giant: 96px;

$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 24px;
$border-radius-pill: 500px;
$border-radius-circular: 100%;

$border-width-hairline: 1px;
$border-width-thin: 2px;
$border-width-thick: 4px;
$border-width-heavy: 8px;

$opacity-level-semiopaque: 0.8;
$opacity-level-intense: 0.64;
$opacity-level-mediun: 0.32;
$opacity-level-light: 0.16;
$opacity-level-semitransparent: 0.08;

$spacing-01: 2px;
$spacing-02: 4px;
$spacing-03: 8px;
$spacing-04: 12px;
$spacing-05: 16px;
$spacing-06: 24px;
$spacing-07: 32px;
$spacing-08: 40px;
$spacing-09: 48px;
$spacing-10: 64px;
$spacing-11: 80px;
$spacing-12: 96px;
$spacing-13: 160px;

$weight-thin: 100;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;
$weight-black: 900;

$font-family-primary: 'Lato', sans-serif;
