$light-green-color: #e6f1f2 !default;
$text-color-light: #6e6e6e;
$text-color-dark: #252525;
$text-color-nonfocus: #a1a1a4 !default;
$text-color-red: #b13323;

$text-color: var(--el-text-color);

$bg-color-gray: #e9e9e9;
$bg-color-disabled: #eeeeee;
$bg-color-green: #d9ffee;

$border-color-dark: #848484;
$border-color-medium: #969696;
$border-color-default: #e9e9e9;
$border-color-gray-light: #efefef;

// --- === Neutral Color === --- //

// Low
$neutral-color-low-pure: #171919;
$neutral-color-low-light: #c9c9c9;
// #8b9b9b;
$neutral-color-low-medium: #aaa;
$neutral-color-low-dark: #4a4a4a;

// Hight
$neutral-color-hight-pure: #fff;
$neutral-color-hight-light: #f4f4f4;
$neutral-color-hight-medium: #eee;
$neutral-color-hight-dark: #e0e0e0;

// --- === Feedback colors === --- //
$feedback-color-helper-pure: #f07363;
$feedback-color-helper-light: #f8d7da;
//#b13323
$feedback-color-helper-medium: #c05c4f;
$feedback-color-helper-dark: #783931;

$feedback-color-wargning-pure: #e6cf42;
$feedback-color-wargning-light: #fff9db;
// #a38d00
$feedback-color-wargning-medium: #b8a635;
$feedback-color-wargning-dark: #736721;

$feedback-color-success-pure: #41d394;
// #d9ffee
$feedback-color-success-light: #d4edda;
// #32a171
$feedback-color-success-medium: #34a976;
$feedback-color-success-dark: #206a4a;

$feedback-color-default-pure: #00747a;
$feedback-color-default-light: #e6f1f2;
$feedback-color-default-medium: #004649;
$feedback-color-default-dark: #123229;

$font-size-xxxs: 12px;
$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-sm: 21px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 40px;
$font-size-xxl: 48px;
$font-size-xxxl: 64px;
$font-size-display: 80px;
$font-size-giant: 96px;

$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 24px;
$border-radius-pill: 500px;
$border-radius-circular: 100%;

$border-width-hairline: 1px;
$border-width-thin: 2px;
$border-width-thick: 4px;
$border-width-heavy: 8px;

$opacity-level-semiopaque: 0.8;
$opacity-level-intense: 0.64;
$opacity-level-mediun: 0.32;
$opacity-level-light: 0.16;
$opacity-level-semitransparent: 0.08;

%shadow-level-1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}
%shadow-level-2 {
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.16);
}
%shadow-level-3 {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
}
%shadow-level-4 {
  box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.24);
}

$spacing-01: 2px;
$spacing-02: 4px;
$spacing-03: 8px;
$spacing-04: 12px;
$spacing-05: 16px;
$spacing-06: 24px;
$spacing-07: 32px;
$spacing-08: 40px;
$spacing-09: 48px;
$spacing-10: 64px;
$spacing-11: 80px;
$spacing-12: 96px;
$spacing-13: 160px;

// Brand colors
$brand-color-primary-pure: #00747a;
$brand-color-primary-light: #e6f1f2;
$brand-color-primary-medium: #004649;
$brand-color-primary-dark: #002f31;

$brand-color-font-light: #a1a1a4;

$brand-color-secondary-pure: #344068;
$brand-color-secondary-light: #3f4f85;

// Brand weight font Family
$weight-thin: 100;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;
$weight-black: 900;

$font-family-primary: 'Lato', sans-serif;
